{% extends "base.html" %}

{% block content %}

<div class="max-w-4xl mx-auto">

    <div class="mb-10">

        <h1 class="text-4xl font-black text-gray-800">
            Checkout
        </h1>

        <p class="text-gray-500 mt-2">
            Estás a un paso de activar tu nuevo plan.
        </p>

    </div>


    <div class="grid lg:grid-cols-2 gap-8">


        <!-- RESUMEN -->

        <div class="bg-white rounded-3xl shadow-lg p-8">

            <h2 class="text-2xl font-bold mb-6">

                Resumen

            </h2>

            <div class="space-y-4">

                <p>

                    <strong>Empresa:</strong>

                    {{ empresa.nombre }}

                </p>

                <p>

                    <strong>Plan:</strong>

                    {{ plan.nombre }}

                </p>

                <p>

                    <strong>Precio mensual:</strong>

                    ${{ "{:,.0f}".format(plan.precio_mensual).replace(",", ".") }}

                </p>

                <p>

                    <strong>Estado del pago:</strong>

                    {{ pago.estado|capitalize }}

                </p>

            </div>

        </div>


        <!-- PAGO -->

        <div class="bg-white rounded-3xl shadow-lg p-8">

            <h2 class="text-2xl font-bold mb-6">

                Método de Pago

            </h2>


            <a
            href="{{ url_for('pagar_mercadopago', pago_id=pago.id) }}"
            class="block w-full bg-sky-500 hover:bg-sky-600 text-white text-center py-4 rounded-xl font-bold mb-4">
            💳 Pagar con Mercado Pago
        </a>


            <a
            href="{{ url_for('pagar_webpay', pago_id=pago.id) }}"
            class="block w-full bg-red-600 hover:bg-red-700 text-white text-center py-4 rounded-xl font-bold mb-4">
            
            💳 Pagar con Webpay
        
        </a>

            <div class="mt-8 text-sm text-gray-500">

                ✔ Pago seguro

                <br>

                ✔ Activación automática

                <br>

                ✔ Facturación inmediata

            </div>

        </div>

    </div>

</div>

{% endblock %}