{% extends "base.html" %}


{% block title %}

Predicción Inventario - NexuStock

{% endblock %}



{% block content %}



<div class="mb-8">


<h1 class="text-4xl font-bold">

📊 Predicción Inteligente de Inventario

</h1>


<p class="text-gray-500 mt-2">

Analiza consumo histórico y recomienda compras.

</p>


</div>





<div class="bg-white rounded-2xl shadow overflow-hidden">


<table class="w-full">


<thead class="bg-slate-900 text-white">


<tr>


<th class="p-4 text-left">
Producto
</th>


<th class="p-4">
Stock
</th>


<th class="p-4">
Consumo diario
</th>


<th class="p-4">
Días restantes
</th>


<th class="p-4">
Estado
</th>


<th class="p-4">
Compra sugerida
</th>


</tr>


</thead>



<tbody>



{% for item in predicciones %}



<tr class="border-b hover:bg-gray-50">



<td class="p-4 font-bold">

{{ item.producto }}

</td>



<td class="p-4 text-center">

{{ item.stock }}

</td>




<td class="p-4 text-center">

{{ item.consumo_diario }}

uds/día

</td>




<td class="p-4 text-center font-bold">


{{ item.dias_stock }}

días


</td>





<td class="p-4 text-center">


{% if item.estado == "critico" %}


<span class="bg-red-100 text-red-700 px-4 py-2 rounded-full">

🔴 Crítico

</span>



{% elif item.estado == "atencion" %}



<span class="bg-yellow-100 text-yellow-700 px-4 py-2 rounded-full">

🟡 Comprar pronto

</span>



{% else %}



<span class="bg-green-100 text-green-700 px-4 py-2 rounded-full">

🟢 Estable

</span>



{% endif %}


</td>





<td class="p-4 text-center font-bold text-blue-600">


{% if item.compra_recomendada > 0 %}


Comprar:

{{ item.compra_recomendada }}



{% else %}


Sin compra


{% endif %}



</td>



</tr>



{% else %}



<tr>

<td colspan="6"
class="p-8 text-center">


No existen datos suficientes.


</td>

</tr>



{% endfor %}



</tbody>


</table>


</div>



{% endblock %}